html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #2F3035;
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 122px;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  padding-left: 50px;
}

.header__Box {
  display: flex;
}

.header__adress {
  position: relative;
  margin-right: 60px;
  width: 265px;
  padding-left: 30px;
}

.header__adress::before {
  position: absolute;
  content: '';
  background-image: url(../images/adress.svg);
  width: 30px;
  height: 30px;
  left: 0;
  top: -10px;
}

.user-list {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.user-list__item {
  display: inline-block;
  padding-right: 15px;
}

.basket {
  position: relative;
}

.basket__num {
  position: absolute;
  bottom: 0;
  right: -9px;
  width: 20px;
  height: 20px;
  background: #1C62CD;
  border-radius: 50%;
  color: #fff;
  font-family: serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
}

.header__bottom {
  margin-bottom: 78px;
}

.menu-categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f0f0f4;
  min-height: 53px;
}

.menu-categories__link {
  position: relative;
  font-weight: 400;
  padding: 15px 0 14px;
  transition: all .5s;
}

.menu-categories__link::before {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  background-color: #1C62CD;
  height: 3px;
  bottom: -2px;
  transition: all .5s;
}

.menu-categories__link:hover {
  font-family: 'SFProDisplay-Regular', sans-serif;
  text-shadow: 0 0 1px black;
  transition: 0.5s;
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.banner-section__slider {
  max-width: 870px;
}

.banner-section__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
}

.banner-section__slider-btnPrev {
  right: 20px;
}

.banner-section__slider-btnNext {
  left: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.slick-dots button {
  padding: 0;
  font-size: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slick-active button {
  background-color: #fff;
}

.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
}

.sale-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sale-item__info {
  text-transform: uppercase;
  color: #fff;
  background: #1C62CD;
  padding: 8px 20px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.sale-item__price {
  text-align: right;
}

.sale-item__price-new {
  position: relative;
  font-family: Barlow;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #1C62CD;
  margin-right: 6px;
  padding-right: 20px;
}

.sale-item__price-new::after {
  position: absolute;
  content: '';
  right: -2px;
  top: 8px;
  background-image: url(../images/content/ruble.svg);
  width: 15px;
  height: 18px;
}

.sale-item__price-old {
  position: relative;
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}

.sale-item__price-old::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  background-image: url(../cold-line.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
