@font-face {
  font-family: 'Barlow-Bold', sans-serif;
  src: url("../fonts/Barlow-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow-Regular', sans-serif;
  src: url("../fonts/Barlow-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Bold', sans-serif;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Medium', sans-serif;
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Regular', sans-serif;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Semibold', sans-serif;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

body {
  color: #2F3035;
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-section {
  margin-bottom: 80px;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 122px;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  padding-left: 50px;
}

.header__Box {
  display: flex;
  align-items: center;
}

.header__adress {
  position: relative;
  margin-right: 60px;
  width: 265px;
  padding-left: 30px;
}

.header__adress::before {
  position: absolute;
  content: '';
  background-image: url("../images/adress.svg");
  width: 30px;
  height: 30px;
  left: 0;
  top: -10px;
}

.user-list {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.user-list__item {
  display: inline-block;
  padding-right: 15px;
}

.basket {
  position: relative;
}

.basket__num {
  position: absolute;
  bottom: -3px;
  right: -15px;
  width: 20px;
  height: 20px;
  background: #1C62CD;
  border-radius: 50%;
  color: #fff;
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
}

.header__bottom {
  margin-bottom: 80px;
}

.menu-categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f0f0f4;
  min-height: 53px;
}

.menu-categories__link {
  position: relative;
  font-weight: 400;
  padding: 15px 0 14px;
  transition: all .5s;
}

.menu-categories__link::before {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  background-color: #1C62CD;
  height: 3px;
  bottom: -2px;
  transition: all .5s;
}

.menu-categories__link:hover {
  font-family: 'SFProDisplay-Regular', sans-serif;
  text-shadow: 0 0 1px black;
  transition: 0.5s;
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.banner-section__slider {
  max-width: 870px;
}

.banner-section__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
}

.banner-section__slider-btnPrev {
  right: 20px;
}

.banner-section__slider-btnNext {
  left: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.slick-dots button {
  padding: 0;
  font-size: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slick-active li button {
  background-color: #fff;
}

.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sale-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sale-item__info {
  text-transform: uppercase;
  color: #fff;
  background: #1C62CD;
  padding: 8px 20px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.sale-item__price {
  text-align: right;
  position: relative;
}

.price {
  font-family: 'Barlow-Regular', sans-serif;
}

.sale-item__price-new {
  position: relative;
  font-family: 'Barlow-Bold', sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #1C62CD;
  margin-right: 6px;
  padding-right: 20px;
}

.sale-item__price-new::after {
  position: absolute;
  content: '';
  right: -2px;
  top: 6px;
  background-image: url("../images/content/ruble.svg");
  width: 15px;
  height: 18px;
}

.sale-item__price-old {
  position: relative;
  display: inline-block;
  font-family: 'Barlow-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  margin-right: 15px;
  background-image: url("../images/old-line.svg");
  padding: 2px 5px;
  background-repeat: no-repeat;
}

.sale-item__price-old::after {
  position: absolute;
  content: '';
  right: -12px;
  top: 4px;
  background-image: url("../images/content/ruble-old.svg");
  width: 8px;
  height: 10px;
}

.sale-item__title {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2F3035;
  margin-bottom: 7px;
}

.sale-item__footer {
  background: #F0F0F4;
  padding: 25px 60px;
  font-size: 18px;
  line-height: 21px;
}

.sale-item__footer span {
  font-family: 'Barlow-Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #1c63cd;
  display: block;
}

.sale-item__img {
  max-width: 125px;
  margin: 0 auto;
}

.search__tabs {
  margin-bottom: 25px;
}

.search__tabs-item {
  padding: 11px 26px 12px;
}

.search__tabs-item.tab--active {
  border-radius: 5px;
  background: #F0F0F4;
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}

.search__content-form {
  display: flex;
}

.search__content-input {
  background: #F0F0F4;
  border-radius: 3px;
  border: none;
  padding: 5px 20px;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
}

.search__content-input::placeholder {
  color: #656464;
}

.search__content-btn {
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1C62CD;
  border-radius: 3px;
  padding: 17px 41px;
  border: none;
  margin-left: -3px;
}

.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__item {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  margin-bottom: 30px;
  width: 370px;
  display: flex;
  padding: 20px 20px 16px;
  justify-content: space-between;
  transition: all 0.5s;
}

.categories__item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories__item-title {
  font-family: 'Barlow-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #2F3035;
  transition: all 0.5s;
}

.categories__item-text {
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}

.categories__item-text::after {
  content: url("../images/categories/arrow.svg");
  padding-left: 2px;
  width: 6px;
  height: 9px;
  left: 10px;
  top: 0;
}

.categories__item-img {
  text-align: center;
  width: 50%;
}

.categories__item-img img {
  max-width: 100%;
}

.categories__item:hover .categories__item-title {
  color: #1C62CD;
}

.product-item {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  text-align: center;
  padding: 52px 20px 31px;
  transition: all 0.5s;
  min-height: 412px;
}

.product-item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  color: #1C62CD;
}

.product-item__wrapper {
  width: 271px;
  position: relative;
}

.product-item__favorite {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  height: 22px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 5;
  cursor: pointer;
}

.product-item__favorite::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 22px;
  top: 0;
  left: 0;
  background-image: url("../images/products/favorite.svg");
}

.product-item__favorite--active::before {
  background-image: url("../images/products/favorite--active.svg");
  z-index: 10;
}

.product-item__img {
  opacity: 1;
}

.product-item__title {
  font-weight: normal;
  padding: 14px 0 7px;
  font-size: 18px;
}

.product-item__price {
  font-family: 'Barlow-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-top: 18px;
}

.product-item__basket {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 40px;
  border: none;
  background: #1C62CD;
  border-radius: 10px 0px 0px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.product-item__hover-text {
  display: block;
  padding: 18px 35px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateX(-7.5%);
  opacity: 0;
  transition: all 0.9s;
  color: #2F3035;
}

.product-item:hover .product-item__hover-text {
  opacity: 1;
  transition: all 0.9s;
}

.product-item--sale::before {
  content: 'SALE';
  padding: 8px 15px;
  background-color: #1C62CD;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
}

.product-item:hover .product-item__notify-text {
  color: #2F3035;
}

.product-item__wrapper.product-item__not-available .product-item__price {
  display: none;
}

.product-item__text {
  display: none;
}

.product-item__notify-text {
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2F3035;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
  display: block;
}

.product-item__wrapper.product-item__not-available .product-item__basket {
  display: none;
}

.product-item__notify-link {
  display: none;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  font-size: 16px;
  line-height: 19px;
  color: #1C62CD;
  text-align: center;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link span {
  border-bottom: 1px solid #1C62CD;
}

.product-item__wrapper.product-item__not-available .product-item__img {
  opacity: 0.7;
}

.product-item__wrapper.product-item__not-available:hover .product-item__img {
  opacity: 1;
}

.product__title {
  font-family: 'Barlow-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2F3035;
  margin-bottom: 25px;
}

.products__tabs {
  margin-bottom: 25px;
}

.products__tab + .products__tab {
  margin-left: 50px;
}

.products__tab {
  padding-bottom: 10px;
}

.products__tab.tab--active {
  border-bottom: 2px solid #1C62CD;
}

.product-slider__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
}

.product-slider__slider-btnPrev {
  right: -20px;
}

.product-slider__slider-btnNext {
  left: -40px;
}

.slick-slide img {
  display: inline;
}

.product {
  margin-bottom: 80px;
}

.product__more {
  text-align: center;
  margin: 35px 0 0;
}

.product__more-link {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #2F3035;
  background: #F0F0F4;
  padding: 17px 60px;
}

.banner {
  margin-top: 86px;
  margin-bottom: 72px;
}

.footer {
  background-color: #F0F0F4;
}

.footer__top {
  padding-top: 43px;
  margin-top: 97px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__top-newsletter {
  margin-right: 160px;
  min-width: 295px;
  display: flex;
  flex-direction: column;
}

.footer__top-item {
  width: 200px;
  margin-right: 50px;
}

.footer__top-title {
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #2F3035;
  margin-bottom: 10px;
}

.footer-form {
  margin-top: 34px;
  display: flex;
}

.footer-form__input {
  background-color: #fff;
  border: none;
  font-size: 14px;
  line-height: 17px;
  padding: 0 12px;
}

.footer-form__input::placeholder {
  color: #C4C4C4;
}

.footer-form__btn {
  text-transform: uppercase;
  padding: 10px 16px;
  border: none;
  background-color: #1C62CD;
  color: #fff;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.12em;
}

.footer-list__item {
  font-size: 14px;
  line-height: 17px;
  color: #2F3035;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__top-social {
  width: 250px;
}

.social-list {
  display: flex;
  align-items: center;
}

.social-list__item + .social-list__item {
  margin-left: 30px;
  height: 100%;
}

.footer__bottom {
  padding: 46px 0 22px;
  display: flex;
  justify-content: center;
}

.footer__bottom-link {
  font-size: 10px;
  line-height: 12px;
  color: #48494D;
}

.footer__bottom-link:first-child {
  margin-left: 110px;
}

.footer__bottom-link + .footer__bottom-link {
  padding-left: 81px;
}
