
.breadcrumbs
  margin-bottom: 40px
.breadcrumbs__list-item
  display: inline-block
  padding-right: 16px
  margin-right: 10px
  position: relative
  font-family: 'SFProDisplay-Regular', sans-serif
  font-weight: 400
  font-size: 15px
  line-height: 18px
  color: #C4C4C4
.breadcrumbs__list-item::after
  position: absolute
  content: ''
  right: 0
  background-image: url('../images/catalog/arrow.svg')
  width: 6px
  height: 9px
  right: 0
  bottom: 5px
.breadcrumbs__list-item:last-child::after
  display: none

.cagalog
  margin-bottom: 100px
.catalog__title
  font-family: 'SFProDisplay-Bold', sans-serif
  font-weight: 700
  font-size: 30px
  line-height: 36px
  color: #2F3035
  margin-bottom: 26px
.catalog__filter
  display: flex
  justify-content: space-between
  margin-bottom: 50px
.catalog__filter-items button
  font-family: 'SFProDisplay-Regular', sans-serif
  font-weight: 400
  font-size: 14px
  line-height: 17px
  opacity: 0.7
  border: none
  background: #F0F0F4
  border-radius: 3px
  padding: 6px 23px
  cursor: pointer
.catalog__filter-items button + .catalog__filter-items
button
  margin-left: 8px

.catalog__filter-btn
  display: flex
  align-items: center

.catalog__filter-btn button
  background-color: transparent
  border: none
  cursor: pointer
  margin: 0
  padding: 0
.catalog__filter-btn button + .catalog__filter-btn button
  margin-left: 10px
button.catalog__filter-btngrid
  width: 26px
  height: 21px
  margin-right: 10px
button.catalog__filter-btnline
  width: 25px
  height: 19px

.catalog__filter-button
  opacity: 0.3
  outline: none
.catalog__filter-button--active
  opacity: 1

.select-item
  font-size: 14px
  line-height: 17px
  color: #2F3035
  border: 1px solid #D7D9DF
  padding: 8px 10px 8px 20px
  margin-right: 34px

.catalog__inner
  display: flex

.catolog__inner-aside
  min-width: 290px
  margin-right: 10px

.catolog__inner-list
  display: flex
  justify-content: space-between
  flex-wrap: wrap
.catolog__inner-list .product-item__wrapper
  margin-bottom: 30px
.pagination
  width: 100%
  margin-top: 70px
.pagination-list
  display: flex
  justify-content: center

.pagination-list__item
  padding: 6px 12px
  border: 2px solid transparent
  margin: 0 4px
  font-family: 'SFProDisplay-Medium', sans-serif
  font-weight: 500
  font-size: 18px
  line-height: 22px
  color: #C4C4C4
.pagination-list__item.active
  border: 2px solid #1C62CD
  color: #1C62CD

.pagination-list__item--dots
.pagination-list__item a
  display: block

//--Стилизация aside- фильтра - чекбоксы и селекты
.aside-filter__tabs
  display: flex
  justify-content: space-between

.aside-filter__tab
  font-weight: 400
  font-size: 16px
  line-height: 19px
  letter-spacing: 0.09em
  text-transform: uppercase
  color: #C4C4C4
  width: 50%
  transition: 0.3s
.aside-filter__tab.tab--active
  font-family: 'SFProDisplay-Semibold', sans-serif
  font-weight: 700
  color: #2F3035
  transition: 0.3s
.aside-filter__tab.tab--active span
  display: inline-block
  border-bottom: 2px solid #1C62CD
  padding-bottom: 7px
.aside-filter__item-drop
  margin: 40px 0
.aside-filter__item-title
  font-family: 'SFProDisplay-Semibold', sans-serif
  font-weight: 600
  font-size: 16px
  line-height: 19px
  color: #2F3035
  padding-left: 26px

.filter__item-drop

  position: relative
  cursor: pointer

.filter__item-drop::before
  content: ''
  position: absolute
  background-image: url('../images/catalog/arrow-down.svg')
  left: 0
  bottom: 5px
  width: 12px
  height: 8px
.filter__item-drop--active::before
  transform: rotate(180deg)
.aside-filter__content
  display: flex
  flex-wrap: wrap
  margin-top: 10px
.aside-filter__content-box
  width: 50%
  margin-bottom: 10px
.aside-filter__content-label
  font-size: 14px
  line-height: 17px
  cursor: pointer
.jq-checkbox,
.jq-radio
  background: #fff
  width: 14px
  height: 14px
  border: 1px solid #c4c4c4
  border-radius: 1px
  box-shadow: none
  vertical-align: -2px
  margin-right: 8px
.jq-checkbox.checked,
.jq-radio.checked
  background: #1C62CD
//.jq-checkbox__div
  position: relative

.jq-checkbox.checked .jq-checkbox__div

  width: 8px
  height: 4px
  margin: 3px 0 0 2px
  border-bottom: 1px solid #fff
  border-left: 1px solid #fff
  transform: rotate(-50deg)
// --Вариант Прокопчука
//.jq-checkbox.checked .jq-checkbox__div
//  width: 8px
//  height: 4px
//  margin: 4px 0 0 3px
//  border-bottom: none
//  border-left: none
//  transform: rotate(0)
//  background-image: url('../images/catalog/check.svg')
// -- конец Варианта Прокопчука
.jq-radio.checked .jq-radio__div
  width: 0
  height: 0
  margin: 0
  border-radius: 0
  background: transparent
  box-shadow: none

.aside-filter__content.aside-filter__content-radio
  flex-wrap: nowrap
.irs--flat
  width: 100%
  margin-top: 20px
//.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single
//  display: none
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single
  color: #48494D
  background-color: transparent
.irs--flat .irs-from::before, .irs--flat .irs-to::before, .irs--flat .irs-single::before
  border-top-color: #48494D
.irs--flat .irs-min, .irs--flat .irs-max
  top: 60px
  font-family: 'Barlow-Regular', sans-serif
  font-weight: 400
  font-size: 14px
  line-height: 17px
  text-decoration: underline
  color: #2F3035
  background: transparent
  border-radius: none
  visibility: visible !important
  padding-left: 27px

.irs-min::before,
.irs-max::before
  position: absolute
  line-height: 17px
  text-decoration: none
  font-size: 14px
  color: #c4c4c4
  left: 0
.irs-min::before,
  content: 'от'
.irs-max::before
  content: 'до'
.irs--flat .irs-line
  top: 25px
  height: 1px
  background-color: #E0E0E0
  border-radius: 0
.irs--flat .irs-bar
  top: 25px
  height: 3px
  background: #1C62CD
.irs--flat .irs-handle
  top: 22px
  width: 7px
  height: 7px
  background-color: #1C62CD
  border-radius: 50%
.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child

  background: transparent

.aside-filter__item-list
  margin: 46px 0 40px

.filter__item-list
  display: flex
  justify-content: space-between
  border-bottom: 2px solid #c4c4c4
  padding-top: 34px
  padding-left: 26px

.filter__item-listtitle
  font-family: 'SF Pro Display', sans-serif
  font-weight: 600
  font-size: 16px
  line-height: 19px
  color: #2F3035
  padding-bottom: 14px
.filter__item-listselect

.jq-selectbox__select
  font-family: 'Barlow', sans-serif
  font-weight: 400
  font-size: 14px
  line-height: 17px
  color: #48494D
  height: 20px
  padding: 0 20px 0 10px
  border: none
  border-radius: 0
  background: transparent
  box-shadow: none
  text-shadow: none

.jq-selectbox__select-text
  width: 42px
.jq-selectbox__trigger
  background-image: url("../images/catalog/arrow-down.svg")
  background-repeat: no-repeat
  bottom: 5px
  width: 12px
  height: 8px
  border: none
  top: 6px
  right: 3px

.jq-selectbox__trigger-arrow
  position: absolute
  top: 14px
  right: 12px
  width: 0
  height: 0
  border: none

.jq-selectbox__select:hover,
.jq-selectbox__select:active
  background: transparent
  box-shadow: none

.jq-selectbox.focused .jq-selectbox__select
  border: none
.jq-selectbox li:hover,
.jq-selectbox li.selected
  color: rgba(0, 0, 0, 0.6)
  background: rgba(107, 126, 172, 0.05)
.jq-selectbox li.selected.sel,
  color: rgba(0, 0, 0, 0.6)
  background: rgba(107, 126, 172, 0.05)
.jq-selectbox__dropdown
  font-family: 'Barlow', sans-serif
  font-weight: 400
  font-size: 14px
  line-height: 17px
  color: rgba(0, 0, 0, 0.6)
  border-radius: 0
  background: #FFFFFF
  border: 1px solid #E0E0E0
  box-shadow: none
  padding-top: 15px

.filter-more
  width: 100%
.filter-more__btn
  font-size: 14px
  line-height: 17px
  color: #1C62CD
  border: none
  border-bottom: 1px solid #1C62CD
  background-color: transparent
  padding: 0

.filter-search
  width: 100%
  height: 30px
  border: 1px solid #E0E0E0
  padding: 0 20px
  font-size: 12px
  line-height: 14px
  margin-bottom: 20px
  margin-top: 10px
.filter-search::placeholder
  color: #BDBEC2
.btn-checked .aside-filter__content
  flex-wrap: nowrap
  justify-content: space-between

.btn-checked .aside-filter__content-box
  width: auto
.btn-checked .aside-filter__content-label
  position: relative
  height: 25px
  width: 63px
  font-weight: bold
  font-size: 12px
  line-height: 14px
  letter-spacing: 0.07em
  color: #c4c4c4
  text-transform: uppercase
.btn-checked .jq-checkbox
  height: 25px
  width: 63px
  background: #f0f0f4
  border: none
.btn-checked .jq-checkbox.checked
  background: #1C62CD
  color: #fff

.btn-checked .jq-checkbox.checked ~ .btn-checked__text
  color: #fff

.btn-checked .jq-checkbox.checked .jq-checkbox__div
  display: none
.btn-checked__text
  position: absolute
  top: -7px
  left: 50%
  transform: translateX(-67%)
  z-index: 5

.filter-btn__send
  background: #F0F0F4
  padding: 16px 85px
  font-size: 15px
  line-height: 18px
  letter-spacing: 0.12em
  text-transform: uppercase
  color: #BDBEC2
  margin-bottom: 15px
  cursor: pointer
  border: none
.filter-btn__send--active
  background-color: #1c62cd
  color: #fff

.filter__extra
  font-size: 13px
  line-height: 16px
  color: #2F3035
  text-align: center
  position: relative
  padding-right: 29px
  display: inline-block
  margin-bottom: 15px
  cursor: pointer
.filter__extra::after
  content: ''
  position: absolute
  right: 0
  background-image: url('../images/catalog/arrow-down.svg')
  width: 12px
  height: 8px
  top: 4px

.filter__extra-content
  display: none

.filter-btn__reset
  font-size: 13px
  line-height: 16px
  color: #C4C4C4
  background-color: transparent
  border: none
  padding: 0
  border-bottom: 1px solid #C4C4C4
  display: inline-block
  cursor: pointer
.aside-filter__item-btn
  text-align: center
.filter__extra.filter__item-drop--active::after
  transform: rotate(180deg)
