
.breadcrumbs
  margin-bottom: 40px
.breadcrumbs__list-item
  display: inline-block
  padding-right: 16px
  margin-right: 10px
  position: relative
  font-family: 'SFProDisplay-Regular', sans-serif
  font-weight: 400
  font-size: 15px
  line-height: 18px
  color: #C4C4C4
.breadcrumbs__list-item::after
  position: absolute
  content: ''
  right: 0
  background-image: url('../images/catalog/arrow.svg')
  width: 6px
  height: 9px
  right: 0
  bottom: 5px
.breadcrumbs__list-item:last-child::after
  display: none

.cagalog
  margin-bottom: 100px
.catalog__title
  font-family: 'SFProDisplay-Bold', sans-serif
  font-weight: 700
  font-size: 30px
  line-height: 36px
  color: #2F3035
  margin-bottom: 26px
.catalog__filter
  display: flex
  justify-content: space-between
  margin-bottom: 50px
.catalog__filter-items button
  font-family: 'SFProDisplay-Regular', sans-serif
  font-weight: 400
  font-size: 14px
  line-height: 17px
  opacity: 0.7
  border: none
  background: #F0F0F4
  border-radius: 3px
  padding: 6px 23px
  cursor: pointer
.catalog__filter-items button + .catalog__filter-items
button
  margin-left: 8px
.catalog__filter-btn button
  background-color: transparent
  border: none
  cursor: pointer
  margin: 0
  padding: 0
.catalog__filter-btn button + .catalog__filter-btn button
  margin-left: 10px
button.catalog__filter-btngrid

button.catalog__filter-btnline

.catalog__inner
  display: flex

.catolog__inner-aside
  min-width: 290px
  margin-right: 10px

.catolog__inner-list
  display: flex
  justify-content: space-between
  flex-wrap: wrap
.catolog__inner-list .product-item__wrapper
  margin-bottom: 30px
.pagination
  width: 100%
  margin-top: 70px
.pagination-list
  display: flex
  justify-content: center

.pagination-list__item
  padding: 6px 12px
  border: 2px solid transparent
  margin: 0 4px
  font-family: 'SFProDisplay-Medium', sans-serif
  font-weight: 500
  font-size: 18px
  line-height: 22px
  color: #C4C4C4
.pagination-list__item.active
  border: 2px solid #1C62CD
  color: #1C62CD

.pagination-list__item--dots
.pagination-list__item a
  display: block

//--Стилизация aside- фильтра - чекбоксы и селекты
.aside-filter__tabs
  display: flex
  justify-content: space-between

.aside-filter__tab
  font-weight: 400
  font-size: 16px
  line-height: 19px
  letter-spacing: 0.09em
  text-transform: uppercase
  color: #C4C4C4
  width: 50%
  transition: 0.3s
.aside-filter__tab.tab--active
  font-family: 'SFProDisplay-Semibold', sans-serif
  font-weight: 700
  color: #2F3035
  transition: 0.3s
.aside-filter__tab.tab--active span
  display: inline-block
  border-bottom: 2px solid #1C62CD
  padding-bottom: 7px
.aside-filter__item-drop
  margin: 40px 0
.aside-filter__item-title
  font-family: 'SFProDisplay-Semibold', sans-serif
  font-weight: 600
  font-size: 16px
  line-height: 19px
  color: #2F3035
  padding-left: 26px

.filter__item-drop

  position: relative
  cursor: pointer

.filter__item-drop::before
  content: ''
  position: absolute
  background-image: url('../images/catalog/arrow-down.svg')
  left: 0
  bottom: 5px
  width: 12px
  height: 8px
.filter__item-drop--active::before
  transform: rotate(180deg)
.aside-filter__content

  display: flex
  flex-wrap: wrap
  margin-top: 20px
.aside-filter__content-box
  width: 50%
.aside-filter__content-label
  font-size: 14px
  line-height: 17px
  cursor: pointer
.jq-checkbox,
.jq-radio
  background: #fff
  width: 14px
  height: 14px
  border: 1px solid #c4c4c4
  border-radius: 1px
  box-shadow: none
  vertical-align: -2px
  margin-right: 8px
.jq-checkbox.checked,
.jq-radio.checked
  background: #1C62CD
//.jq-checkbox__div
  position: relative

.jq-checkbox.checked .jq-checkbox__div

  width: 8px
  height: 4px
  margin: 3px 0 0 2px
  border-bottom: 1px solid #fff
  border-left: 1px solid #fff
  transform: rotate(-50deg)
// --Вариант Прокопчука
//.jq-checkbox.checked .jq-checkbox__div
//  width: 8px
//  height: 4px
//  margin: 4px 0 0 3px
//  border-bottom: none
//  border-left: none
//  transform: rotate(0)
//  background-image: url('../images/catalog/check.svg')
// -- конец Варианта Прокопчука
.jq-radio.checked .jq-radio__div
  width: 0
  height: 0
  margin: 0
  border-radius: 0
  background: transparent
  box-shadow: none

.aside-filter__content.aside-filter__content-radio
  flex-wrap: nowrap
.irs--flat
  width: 100%
  margin-top: -10px
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single
  display: none
.irs--flat .irs-min, .irs--flat .irs-max
  top: 60px
  font-family: 'Barlow-Regular', sans-serif
  font-weight: 400
  font-size: 14px
  line-height: 17px
  text-decoration-line: underline
  color: #2F3035
  background: transparent
  border-radius: none
  visibility: visible !important
.irs-min::before,
.irs-max::before
  padding-right: 5px
  line-height: 17px
  text-decoration: none
  font-size: 14px
  color: #c4c4c4
.irs-min::before,
  content: 'от'
.irs-max::before
  content: 'до'
