.footer
  background-color: #F0F0F4
.footer__top
  padding-top: 43px
.footer__top-inner
  display: flex
  justify-content: space-between

.footer__top-item

.footer__top-title

.footer-form

.footer-form__input

.footer-list

.footer-list__item

.social-list

.social-list__item

.footer__bottom
  padding: 46px 0 22px
  display: flex

  justify-content: center
.footer__bottom-link
  font-size: 10px
  line-height: 12px
  color: #48494D
  margin: 0 40px
